theme = "catppuccin_macchiato"

[editor]
line-number = "relative"
mouse = true
bufferline = "always"
auto-pairs = false
true-color = true
end-of-line-diagnostics = "hint"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[keys.insert]
j = { k = "normal_mode" }

[keys.normal]
"C-/" = "toggle_comments"
H = ":buffer-previous"
L = ":buffer-next"
C-x = ":buffer-close"
K = "hover"
"*" = ["move_prev_word_start", "move_next_word_end", "search_selection"]

X = "extend_line_above"  # Shift+x to select the whole line above
G = ":reset-diff-change"


# Duplicate lines above or below
S-A-j = [
  "normal_mode",
  "extend_to_line_bounds",
  "yank",
  "open_below",
  "replace_with_yanked",
  "collapse_selection",
  "normal_mode",
  "goto_line_start",
]
S-A-k = [
  "normal_mode",
  "extend_to_line_bounds",
  "yank",
  "open_above",
  "replace_with_yanked",
  "collapse_selection",
  "normal_mode",
  "goto_line_start",
]

[keys.normal.space]
e = ":sh zellij run -c -f -x 10%% -y 10%% --width 80%% --height 80%% -- bash ~/.config/helix/yazi-picker.sh open" # Yazi
E = ":sh zellij run -c -f -x 10%% -y 10%% --width 80%% --height 80%% -- bash ~/.config/helix/yazi-picker.sh open %{buffer_name}" # Yazi
w = ":toggle soft-wrap.enable"
g = [
  ":sh zellij run -c -f -x 5%% -y 5%% --width 90%% --height 90%% -- lazygit",
  ":reload-all",
]
G = [
  ":sh zellij run -c -f -x 5%% -y 5%% --width 90%% --height 90%% -- git diff %{buffer_name}",
  ":reload-all",
]
H = ":toggle lsp.display-inlay-hints"
c = "code_action" # foo

[keys.select]
"C-7" = "toggle_comments"

[editor.inline-diagnostics]
cursor-line = "hint"
other-lines = "disable"

[editor.indent-guides]
render = true
character = "╎" # Some characters that work well: "▏", "┆", "┊", "⸽"
skip-levels = 1

[editor.file-picker]
hidden = false
