
[[language]]
name = "toml"
formatter = { command = 'taplo', args = ["format", "-"] }
auto-format = true

[[language]]
name = "html"
formatter = { command = 'prettier', args = ["--parser", "html"] }

[[language]]
name = "json"
formatter = { command = 'prettier', args = ["--parser", "json"] }

[[language]]
name = "css"
formatter = { command = 'prettier', args = ["--parser", "css"] }

[[language]]
name = "javascript"
formatter = { command = 'prettier', args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "typescript"
formatter = { command = 'prettier', args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "markdown"
formatter = { command = 'prettier', args = ["--parser", "markdown"] }
auto-format = true
language-servers = ["marksman", "harper-ls"]

[[language]]
name = "yaml"
formatter = { command = 'prettier', args = ["--parser", "yaml"] }
auto-format = true
language-servers = ["yaml-language-server"]

[[language]]
name = "docker-compose"
formatter = { command = 'prettier', args = ["--parser", "yaml"] }
auto-format = true
language-servers = ["yaml-language-server"]

[[language]]
name = "python"
shebangs = ["python"]
roots = [
  "pyproject.toml",
  "setup.py",
  "poetry.lock",
  "pyrightconfig.json",
  "requirements.txt",
  ".venv/",
]
comment-token = "#"
language-servers = [{ name = "pyright" }, "ruff"]
auto-format = true

[language-server.pyright]
command = "pyright-langserver"
args = ["--stdio"]

[language-server.ruff]
command = "ruff"
args = ["server", "-q", "--preview"]

[[language]]
name = "go"
auto-format = true
language-servers = ["gopls", "golangci-lint2-langserver"]
formatter = { command = "goimports" }

[language-server.golangci-lint2-langserver]
command = "golangci-lint-langserver"

[language-server.golangci-lint2-langserver.config]
command = [
  "golangci-lint",
  "run",
  "--output.json.path",
  "stdout",
  "--show-stats=false",
  "--issues-exit-code=1",
]

[language-server.harper-ls]
command = "harper-ls"
args = ["--stdio"]
